Repository controlplaneio-fluxcd/flux-operator, pull requests merged in 2025-06, with the labels that each got.

#276 cli: Add inputs provider metadata to rset build
  cmd/cli/build_resourceset.go
Labels: area/cli

#277 Implement `get_kubernetes_metrics` MCP tool
  cmd/mcp/k8s/export.go
  cmd/mcp/k8s/helm.go
  cmd/mcp/k8s/logs.go
  cmd/mcp/k8s/metrics.go
  cmd/mcp/toolbox/get_metrics.go
  cmd/mcp/toolbox/get_metrics_test.go
  cmd/mcp/toolbox/index.go
  docs/mcp/tools.md
  go.mod
  go.sum
Labels: enhancement, area/mcp-server

#283 Add `objectLevelWorkloadIdentity` option to FluxInstance
  api/v1/fluxinstance_types.go
  config/crd/bases/fluxcd.controlplane.io_fluxinstances.yaml
  docs/api/v1/fluxinstance.md
  internal/builder/build.go
  internal/builder/build_test.go
  internal/builder/options.go
  internal/builder/semver.go
  internal/builder/templates.go
  internal/controller/fluxinstance_controller.go
Labels: area/api, area/lifecycle

#286 Implement persistant storage for source-controller shards
  api/v1/fluxinstance_types.go
  config/crd/bases/fluxcd.controlplane.io_fluxinstances.yaml
  config/samples/fluxcd_v1_fluxinstance.yaml
  docs/api/v1/fluxinstance.md
  internal/builder/build.go
  internal/builder/build_test.go
  internal/builder/options.go
  internal/builder/templates.go
  internal/builder/testdata/v2.6.0-golden/shard1.kustomization.yaml
  internal/builder/testdata/v2.6.0-golden/shard2.kustomization.yaml
  internal/builder/testdata/v2.6.0-golden/sharding.kustomization.yaml
  internal/controller/fluxinstance_controller.go
Labels: area/api, area/lifecycle

#288 Introduce schedule for ResourceSetInputProvider
  api/v1/resourcesetinputprovider_types.go
  api/v1/schedule_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/fluxcd.controlplane.io_resourcesetinputproviders.yaml
  docs/api/v1/fluxinstance.md
  docs/api/v1/resourceset.md
  docs/api/v1/resourcesetinputprovider.md
  go.mod
  go.sum
  internal/controller/fluxinstance_artifact_controller_test.go
  internal/controller/fluxinstance_controller.go
  internal/controller/resourceset_controller.go
  internal/controller/resourcesetinputprovider_controller.go
  internal/controller/resourcesetinputprovider_controller_test.go
  internal/schedule/scheduler.go
  internal/schedule/scheduler_test.go
  internal/testutils/time.go
Labels: area/resourceset

#290 Introduce get/suspend/resume/reconcile commands for ResourceSetInputProvider
  cmd/cli/build_instance.go
  cmd/cli/client.go
  cmd/cli/get_inputprovider.go
  cmd/cli/reconcile_inputprovider.go
  cmd/cli/resume_inputprovider.go
  cmd/cli/suspend_inputprovider.go
  internal/controller/resourcesetinputprovider_controller.go
Labels: area/resourceset, area/cli

#291 Fix docs for RSIP timeout and schedule window
  docs/api/v1/resourcesetinputprovider.md
Labels: documentation

#292 cli: Add `--wait` flag to reconcile commands
  cmd/cli/client.go
  cmd/cli/get_inputprovider.go
  cmd/cli/reconcile_inputprovider.go
  cmd/cli/reconcile_instance.go
  cmd/cli/reconcile_resourceset.go
  cmd/cli/resume_inputprovider.go
  cmd/cli/resume_instance.go
  cmd/cli/resume_resourceset.go
  cmd/cli/suspend_inputprovider.go
  cmd/cli/suspend_instance.go
  cmd/cli/suspend_resourceset.go
Labels: enhancement, area/cli

#296 Set fields with defaults as optional in the FluxInstance API spec
  api/v1/fluxinstance_types.go
  config/crd/bases/fluxcd.controlplane.io_fluxinstances.yaml
  docs/api/v1/fluxinstance.md
Labels: documentation, area/api

#309 cli: Add `flux-operator get resources` command
  cmd/cli/client.go
  cmd/cli/get_resources.go
  cmd/cli/reconcile_inputprovider.go
  cmd/cli/reconcile_instance.go
  cmd/cli/reconcile_resourceset.go
  cmd/cli/resume_inputprovider.go
  cmd/cli/resume_instance.go
  cmd/cli/resume_resourceset.go
  cmd/cli/suspend_inputprovider.go
  cmd/cli/suspend_instance.go
  cmd/cli/suspend_resourceset.go
Labels: enhancement, area/cli

#312 cli: Add `flux-operator reconcile resource` command
  README.md
  cmd/cli/README.md
  cmd/cli/client.go
  cmd/cli/completion.go
  cmd/cli/reconcile_inputprovider.go
  cmd/cli/reconcile_resource.go
Labels: enhancement, area/cli

#315 Set operator version information
  .github/workflows/release.yml
  Dockerfile
  Makefile
  api/v1/fluxreport_types.go
  api/v1/zz_generated.deepcopy.go
  cmd/cli/README.md
  cmd/cli/version.go
  cmd/operator/main.go
  config/crd/bases/fluxcd.controlplane.io_fluxreports.yaml
  docs/api/v1/fluxreport.md
  internal/controller/fluxreport_controller.go
  internal/controller/fluxreport_controller_test.go
  test/e2e/instance_test.go
Labels: area/api, area/cli

#316 Add ResourceSet stats to `FluxReport.spec.reconcilers`
  docs/api/v1/fluxreport.md
  internal/controller/fluxreport_controller_test.go
  internal/reporter/reconcilers.go
Labels: area/observability

#318 cli: Add `flux-operator suspend/resume resource` commands
  cmd/cli/README.md
  cmd/cli/client.go
  cmd/cli/completion.go
  cmd/cli/reconcile_inputprovider.go
  cmd/cli/reconcile_instance.go
  cmd/cli/reconcile_resource.go
  cmd/cli/reconcile_resourceset.go
  cmd/cli/resume_inputprovider.go
  cmd/cli/resume_instance.go
  cmd/cli/resume_resource.go
  cmd/cli/resume_resourceset.go
  cmd/cli/suspend_inputprovider.go
  cmd/cli/suspend_instance.go
  cmd/cli/suspend_resource.go
  cmd/cli/suspend_resourceset.go
Labels: enhancement, area/cli

#327 Fix GitHub Enterprise Server authentication in ResourceSetInputProvider
  internal/gitprovider/github.go
Labels: bug, area/resourceset

#328 cli: Add `flux-operator export` commands
  cmd/cli/README.md
  cmd/cli/completion.go
  cmd/cli/export.go
  cmd/cli/export_report.go
  cmd/cli/export_report_test.go
  cmd/cli/export_resource.go
  cmd/cli/export_resource_test.go
  cmd/cli/get_inputprovider_test.go
  cmd/cli/get_resourceset_test.go
  cmd/cli/reconcile_resource.go
  cmd/cli/resume_resource.go
  cmd/cli/suite_test.go
  cmd/cli/suspend_resource.go
  cmd/cli/version_test.go
  test/e2e/instance_test.go
Labels: enhancement, area/cli
