Repository controlplaneio-fluxcd/flux-operator, pull requests merged in 2025-05, with the labels that each got.

#238 Introduce experimental MCP Server
  .golangci.yml
  .goreleaser.yml
  Makefile
  cmd/mcp/k8s/actions.go
  cmd/mcp/k8s/actions_test.go
  cmd/mcp/k8s/client.go
  cmd/mcp/k8s/client_test.go
  cmd/mcp/k8s/config.go
  cmd/mcp/k8s/events.go
  cmd/mcp/k8s/events_test.go
  cmd/mcp/k8s/export.go
  cmd/mcp/k8s/export_test.go
  cmd/mcp/k8s/helm.go
  cmd/mcp/k8s/logs.go
  cmd/mcp/k8s/suite_test.go
  cmd/mcp/main.go
  cmd/mcp/prompter/debug_helmrelease.go
  cmd/mcp/prompter/debug_helmrelease_test.go
  cmd/mcp/prompter/debug_kustomization.go
  cmd/mcp/prompter/debug_kustomization_test.go
  cmd/mcp/prompter/index.go
  cmd/mcp/prompter/manager.go
  cmd/mcp/toolbox/delete_resource.go
  cmd/mcp/toolbox/delete_resource_test.go
  cmd/mcp/toolbox/get_apis.go
  cmd/mcp/toolbox/get_apis_test.go
  cmd/mcp/toolbox/get_contexts.go
  cmd/mcp/toolbox/get_contexts_test.go
  cmd/mcp/toolbox/get_instance.go
  cmd/mcp/toolbox/get_instance_test.go
  cmd/mcp/toolbox/get_logs.go
  cmd/mcp/toolbox/get_logs_test.go
  cmd/mcp/toolbox/get_resource.go
  cmd/mcp/toolbox/get_resource_test.go
  cmd/mcp/toolbox/index.go
  cmd/mcp/toolbox/library.go
  cmd/mcp/toolbox/library_index.go
  cmd/mcp/toolbox/manager.go
  cmd/mcp/toolbox/reconcile_helmrelease.go
  cmd/mcp/toolbox/reconcile_helmrelease_test.go
  cmd/mcp/toolbox/reconcile_kustomization.go
  cmd/mcp/toolbox/reconcile_kustomization_test.go
  cmd/mcp/toolbox/reconcile_resourceset.go
  cmd/mcp/toolbox/reconcile_resourceset_test.go
  cmd/mcp/toolbox/reconcile_source.go
  cmd/mcp/toolbox/reconcile_source_test.go
  cmd/mcp/toolbox/resume_reconciliation.go
  cmd/mcp/toolbox/resume_reconciliation_test.go
  cmd/mcp/toolbox/search_flux_docs.go
  cmd/mcp/toolbox/search_flux_docs_test.go
  cmd/mcp/toolbox/set_context.go
  cmd/mcp/toolbox/set_context_test.go
  cmd/mcp/toolbox/suspend_reconciliation.go
  cmd/mcp/toolbox/suspend_reconciliation_test.go
  cmd/mcp/toolbox/testdata/kubeconfig.yaml
  cmd/mcp/toolbox/testdata/kubeconfig_golden.yaml
  docs/mcp/tools.md
  go.mod
  go.sum
Labels: area/mcp-server

#250 Fix copyFrom not copying secret type
  internal/controller/resourceset_controller.go
  internal/controller/resourceset_controller_test.go
Labels: bug, area/resourceset

#245 Update Kubernetes to v1.33
  go.mod
  go.sum
  internal/controller/resourcesetinputprovider_controller.go
  internal/controller/resourcesetinputprovider_controller_test.go
Labels: dependencies

#251 Add force reconcile option to ResourceSet
  api/v1/common_types.go
  api/v1/resourceset_types.go
  docs/api/v1/resourceset.md
  internal/controller/resourceset_controller.go
Labels: enhancement, area/resourceset

#253 Implement `apply_kubernetes_manifest` MCP tool
  cmd/mcp/k8s/actions.go
  cmd/mcp/k8s/client.go
  cmd/mcp/toolbox/apply_manifest.go
  cmd/mcp/toolbox/apply_manifest_test.go
  cmd/mcp/toolbox/index.go
  docs/mcp/tools.md
Labels: area/mcp-server

#254 Add the MCP Server to readme
  README.md
  cmd/mcp/README.md
  docs/mcp/prompts.md
  go.mod
  go.sum
Labels: documentation

#257 Add copilot-instructions for Flux MCP
  .github/copilot-instructions.md
  cmd/mcp/README.md
Labels: documentation

#259 Add contributing guide
  CONTRIBUTING.md
  Makefile
  README.md
  cmd/mcp/README.md
Labels: documentation

#265 Add support for in-cluster deployment of Flux MCP Server
  .github/workflows/push-mcp.yml
  Makefile
  cmd/mcp/Dockerfile
  cmd/mcp/main.go
  cmd/mcp/toolbox/apply_manifest.go
  cmd/mcp/toolbox/delete_resource.go
  cmd/mcp/toolbox/get_apis.go
  cmd/mcp/toolbox/get_contexts.go
  cmd/mcp/toolbox/get_instance.go
  cmd/mcp/toolbox/get_logs.go
  cmd/mcp/toolbox/get_resource.go
  cmd/mcp/toolbox/manager.go
  cmd/mcp/toolbox/reconcile_helmrelease.go
  cmd/mcp/toolbox/reconcile_kustomization.go
  cmd/mcp/toolbox/reconcile_resourceset.go
  cmd/mcp/toolbox/reconcile_source.go
  cmd/mcp/toolbox/resume_reconciliation.go
  cmd/mcp/toolbox/search_flux_docs.go
  cmd/mcp/toolbox/set_context.go
  cmd/mcp/toolbox/suspend_reconciliation.go
  config/mcp/deployment.yaml
  config/mcp/kustomization.yaml
  config/mcp/service.yaml
  hack/build-dist-manifests.sh
Labels: enhancement, area/mcp-server

#268 Add cluster info to `FluxReport`
  api/v1/fluxreport_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/fluxcd.controlplane.io_fluxreports.yaml
  docs/api/v1/fluxreport.md
  internal/controller/fluxreport_controller_test.go
  internal/reporter/cluster.go
  internal/reporter/reporter.go
  test/e2e/instance_test.go
Labels: area/api, area/observability

#272 Add Flux v2.6.0 distribution
  config/data/flux-images/VERSION
  config/data/flux-images/v2.6.0/enterprise-alpine.yaml
  config/data/flux-images/v2.6.0/enterprise-distroless.yaml
  config/data/flux-images/v2.6.0/upstream-alpine.yaml
  config/data/flux/v2.6.0/helm-controller.yaml
  config/data/flux/v2.6.0/image-automation-controller.yaml
  config/data/flux/v2.6.0/image-reflector-controller.yaml
  config/data/flux/v2.6.0/kustomize-controller.yaml
  config/data/flux/v2.6.0/notification-controller.yaml
  config/data/flux/v2.6.0/policies.yaml
  config/data/flux/v2.6.0/rbac.yaml
  config/data/flux/v2.6.0/source-controller.yaml
Labels: area/update-automation
