Repository controlplaneio-fluxcd/flux-operator, pull requests merged in 2025-08, with the labels that each got.

#385 cli: Add `flux-operator tree helmrelease` command
  cmd/cli/README.md
  cmd/cli/tree_helmrelease.go
Labels: enhancement, area/cli

#388 cli: Handling multiple ResourceSetInputProvider in `build rset` command
  cmd/cli/build_resourceset.go
  cmd/cli/build_resourceset_test.go
  cmd/cli/testdata/build_resourceset/golden-labeled.yaml
  cmd/cli/testdata/build_resourceset/golden-named.yaml
  cmd/cli/testdata/build_resourceset/rset-with-rsip-labeled.yaml
  cmd/cli/testdata/build_resourceset/rset-with-rsip-named.yaml
  cmd/cli/testdata/build_resourceset/rsip-labeled.yaml
  cmd/cli/testdata/build_resourceset/rsip-named.yaml
Labels: enhancement, area/cli

#393 Extend OpenShift compatibility up to v4.19
  config/olm/bundle/metadata/annotations.yaml
Labels: area/marketplace

#397 Implement reconcile history for FluxInstance
  api/v1/fluxinstance_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/fluxcd.controlplane.io_fluxinstances.yaml
  docs/api/v1/fluxinstance.md
  internal/builder/semver.go
  internal/builder/semver_test.go
  internal/controller/fluxinstance_controller.go
  internal/controller/fluxinstance_controller_test.go
Labels: area/api, area/update-automation

#399 ResourceSet: Allow force apply of individual resources
  docs/api/v1/resourceset.md
  internal/controller/resourceset_controller.go
Labels: area/resourceset

#401 Update Go to 1.25
  .github/workflows/e2e-olm.yml
  .github/workflows/e2e.yaml
  .github/workflows/release.yml
  Dockerfile
  Makefile
  cmd/cli/Dockerfile
  cmd/mcp/Dockerfile
  config/olm/bundle/metadata/annotations.yaml
  docs/dev/README.md
  go.mod
  hack/install-operator-sdk.sh
Labels: dependencies, area/ci

#405 builder: Improve component images extraction
  internal/builder/build.go
  internal/builder/build_test.go
  internal/builder/images.go
  internal/builder/images_test.go
  internal/controller/fluxinstance_controller_test.go
Labels: area/lifecycle
