Repository controlplaneio-fluxcd/flux-operator, pull requests merged in 2025-04, with the labels that each got.

#228 Add skip options to ResourceSetInputProvider
  api/v1/resourcesetinputprovider_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/fluxcd.controlplane.io_resourcesetinputproviders.yaml
  config/olm/bundle/manifests/flux-operator.clusterserviceversion.yaml
  config/samples/fluxcd_v1_resourcesetinputprovider.yaml
  docs/api/v1/resourcesetinputprovider.md
  internal/controller/resourcesetinputprovider_controller.go
  internal/controller/resourcesetinputprovider_controller_test.go
  internal/gitprovider/github.go
  internal/gitprovider/github_test.go
  internal/gitprovider/gitlab.go
  internal/gitprovider/gitlab_test.go
  internal/gitprovider/result.go
  internal/gitprovider/result_test.go
Labels: area/resourceset

#230 Fully integrate ResourceSet APIs with notification-controller
  cmd/operator/main.go
  internal/builder/build.go
  internal/builder/images.go
  internal/builder/options.go
  internal/builder/profiles.go
  internal/builder/templates.go
  internal/controller/fluxinstance_controller.go
  internal/controller/resourceset_controller.go
  internal/controller/resourceset_controller_test.go
  internal/controller/resourcesetinputprovider_controller.go
  internal/controller/resourcesetinputprovider_controller_test.go
  internal/notifier/controller.go
  internal/notifier/notifier.go
Labels: area/observability, area/resourceset

#231 Add example using one input as default for another
  docs/api/v1/resourceset.md
Labels: documentation

#232 Delete unneeded docs
  docs/api/v1/resourceset.md
Labels: documentation

#235 Add CLI commands for building and reconciling Flux Instances
  cmd/cli/build_instance.go
  cmd/cli/get_instance.go
  cmd/cli/reconcile_instance.go
  cmd/cli/resume_instance.go
  cmd/cli/suspend_instance.go
Labels: enhancement, area/cli
