Repository controlplaneio-fluxcd/flux-operator, pull requests merged in 2025-09, with the labels that each got.

#410 mcp: Introduce streamable HTTP transport
  cmd/mcp/main.go
  go.mod
  go.sum
Labels: enhancement, area/mcp-server

#407 operator: Introduce multi-tenancy lockdown for RSIP workload identity
  cmd/operator/main.go
  docs/api/v1/resourcesetinputprovider.md
  go.mod
  go.sum
  internal/controller/resourcesetinputprovider_controller.go
Labels: enhancement, area/security

#418 operator: Add missing docs for RSIP lockdown with Helm
  docs/api/v1/resourcesetinputprovider.md
Labels: enhancement, area/resourceset, area/security

#432 test: Use latest Flux version in reporting tests
  Makefile
  internal/controller/fluxreport_controller_test.go
Labels: area/testing

#442 cli: Add support for `ArtifactGenerator` and `ExternalArtifact` APIs
  api/v1/common_types.go
  api/v1/zz_generated.deepcopy.go
  cmd/cli/README.md
  cmd/cli/client.go
  cmd/cli/completion.go
  cmd/cli/get_resources.go
  cmd/cli/reconcile_resources.go
  cmd/cli/trace_types.go
  internal/controller/fluxinstance_controller_test.go
  internal/controller/fluxinstance_uninstaller.go
  internal/controller/suite_test.go
Labels: area/cli
